.env
.env.*
!.env.example

.venv/
venv/
__pycache__/
*.py[cod]

*.db
*.sqlite
*.sqlite3

.pytest_cache/
.coverage
.ruff_cache/

.vscode/
.idea/
.DS_Store

**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars

nodes.md 